#loader {
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 1;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
  }
  
  #blocker {
    z-index:10000;
    height: 100%;
    width: 100%;
      position:fixed;
      display:block;
      color:"red";
      background-color: white;
  }

  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

  .animate-top {
    position: relative;
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 1s;
    animation-name: animatetop;
    animation-duration: 1s
  }
  
  @-webkit-keyframes animatetop {
    from { top:0px; opacity:1 } 
    to { top:-100px; opacity:0; display: none; }
  }
  
  @keyframes animatetop { 
    from { top:0px; opacity:1 } 
    to { top:-100px; opacity:0; display: none; }
  }
  