<head>
  <script src="https://aframe.io/releases/0.8.2/aframe.min.js"></script>
  <script src="https://cdn.jsdelivr.net/gh/tizzle/aframe-orbit-controls-component@master/dist/aframe-orbit-controls-component.min.js"></script>
  <script src="https://unpkg.com/aframe-animation-component@^4.1.2/dist/aframe-animation-component.min.js"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" type="text/css" href="./server/style.css">
</head>
<body>

  
  <div>
    <div class="w3-sidebar w3-light-grey w3-bar-block" style="left:0; width: 15%;">
      <h3 class="w3-bar-item">Menu</h3>
      <a onclick="clickTank()" class="w3-bar-item w3-button w3-border-bottom">Water Tank</a>
      <a onclick="clickPump()" class="w3-bar-item w3-button w3-border-bottom">Water Pump</a>
      <a onclick="clickHydran()" class="w3-bar-item w3-button w3-border-bottom">Water Hydrant</a>
      <div style="position: fixed; bottom: 10px; font-size: 12px; width: 15%;  border: 1px solid #000000;">
        "<a rel="nofollow" class="external text">The used 3D Models are licenced under</a> <a rel="nofollow" class="external text" href="https://creativecommons.org/licenses/by/2.0/">CC BY 2.0</a>. 
        <br>'Fire Hydrant' by <a rel="nofollow" class="external text" href="https://poly.google.com/user/4aEd8rQgKu2">Poly by Google, </a>'Water Motor Pump' by <a rel="nofollow" class="external text" href="https://sketchfab.com/topfrank2013">Francesco Coldesina, </a>'Water Tank' by <a rel="nofollow" class="external text" href="https://sketchfab.com/naves">naves</a> and 'House 4' by <a rel="nofollow" class="external text" href="https://sketchfab.com/ztrztr">ztrztr</a>. 
        <br>Models were converted from GLtf to GLb."
      </div>
    </div>
    <div class="w3-container" style="right:0;">
      <div id="blocker"><div id="loader"></div></div>
      <a-scene cursor="rayOrigin: mouse" style="height: 100%; width: 85%; margin-left:15%" embedded inspector="url: x" vr-mode-ui="enabled: false">
        <a-assets>
          <!-- <a-asset-item id="house" src="https://cdn.glitch.com/ea848f7e-2cbf-4a14-b56e-2ec5daec6425%2Fhouse.glb?v=1582144886712" response-type="arraybuffer"></a-asset-item>
          <a-asset-item id="tanque" src="https://cdn.glitch.com/ea848f7e-2cbf-4a14-b56e-2ec5daec6425%2FTank.glb?v=1582145033825" response-type="arraybuffer"></a-asset-item>
          <a-asset-item id="pump" src="https://cdn.glitch.com/ea848f7e-2cbf-4a14-b56e-2ec5daec6425%2Fpump.glb?v=1582145169258" response-type="arraybuffer"></a-asset-item>
          <a-asset-item id="hydrant" src="https://cdn.glitch.com/ea848f7e-2cbf-4a14-b56e-2ec5daec6425%2FlowHydran.glb?v=1582235354202" response-type="arraybuffer"></a-asset-item> -->
          
          <a-asset-item id="house" src="./House/house.glb" response-type="arraybuffer"></a-asset-item>
          <a-asset-item id="tanque" src="./Water_Tank/Tank.glb" response-type="arraybuffer"></a-asset-item>
          <a-asset-item id="pump" src="./Water_Motor_Pump/pump.glb" response-type="arraybuffer"></a-asset-item>
          <a-asset-item id="hydrant" src="./hydrant/lowHydran.glb" response-type="arraybuffer"></a-asset-item>
        </a-assets>
        
        <a-entity
              id="camera"
              camera
              
              orbit-controls="
                  target: #centro;
                  autoRotate: false;
                  enableDamping: true;
                  dampingFactor: 0.25;
                  rotateSpeed:0.14;"
              mouse-cursor="">
              <a-plane id="tankP" position="0 0 -10" rotation="0 0 -90" width="15" height="15" color="blue" material="side: double" visible="false"></a-plane>
              <a-plane id="motorP" position="0 0 -10" rotation="0 0 -90" width="15" height="15" color="green" material="side: double" visible="false"></a-plane>
              <a-plane id="hydranP" position="0 0 -10" rotation="0 0 -90" width="15" height="15" color="red" material="side: double" visible="false"></a-plane>
        </a-entity>
  
        <a-plane position="237 -1.5 -184" rotation="-90 0 0" width="400" height="400" color="#7BC8A4" material="side: double"></a-plane>
        <a-entity id="casa" gltf-model="#house" position="0 0 0" scale="0.5 0.5 0.5"></a-entity>
        <a-box id="centro" color="#4CC3D9" position="237 50 -184" visible="false"></a-box>
        
        <a-entity id="tank" 
          gltf-model="#tanque" 
          position="285 73 -190" 
          scale="0.05 0.05 0.05" 
          visible="true" 
          animation__mouseenter="property: scale; to: 0.07 0.07 0.07; dur: 300; startEvents: mouseenter" 
          animation__mouseleave="property: scale; to: 0.05 0.05 0.05; dur: 400; startEvents: mouseleave"
        ></a-entity>
        
        <a-entity id="motor" 
          gltf-model="#pump" 
          position="407 10 -250" 
          scale="0.7 0.7 0.7" 
          visible="true"
          animation__mouseenter="property: scale; to: 0.8 0.8 0.8; dur: 300; startEvents: mouseenter" 
          animation__mouseleave="property: scale; to: 0.7 0.7 0.7; dur: 400; startEvents: mouseleave"
        ></a-entity>

        <a-entity id="hydran" 
          gltf-model="#hydrant" 
          position="120 0 -50" 
          scale="0.1 0.1 0.1"
          visible="true" 
          animation__mouseenter="property: scale; to: 0.12 0.12 0.12; dur: 300; startEvents: mouseenter" 
          animation__mouseleave="property: scale; to: 0.1 0.1 0.1; dur: 400; startEvents: mouseleave"
        ></a-entity>
      </a-scene>
    </div>
  </div>
  <script src="./server/control.js"></script>
</body>